
button{
    width: 100%;
    display: inline-block;
    padding: 1rem 2rem;
}

button:hover{
    cursor: pointer;
}

button:disabled{
    background-color: lightsteelblue;
    border: lightsteelblue;
}

button:disabled:hover{
    cursor: not-allowed;
}

.principal__button{
    color: white;
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.secondary__button{
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
}

.button--medium{
    max-width: 300px;
}

.buttons__wrapper{
    display: grid;
    gap: 1rem;
}

@media screen and (min-width : 992px){
    .buttons__wrapper{
        grid-template-columns: 1fr 1fr;
    }
}