.navbar{
    background-color: var(--light-background);
    height: 5rem;
    padding: 1rem 1.5rem 1rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--c-border);
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.125rem;
}

.navbar__brand{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navbar__logo{
    width: 3rem;
}

.navbar__menu{
    position: absolute;
    background-color: var(--light-background);
    width: 100%;
    top: 5rem;
    height: calc(100% - 5rem);
    z-index: 90;
    left: -100%;
    padding: 2.5rem;
    transition: left .3s ease-in-out;
}

.navbar__menu--open{
    left: 0;
}

.navbar__menu, 
.navbar__menu > ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
}

.navbar--h-icon:hover{
    cursor: pointer;
}

.navbar__menu .secondary__button{
    padding: .5rem 1.5rem;
}

@media screen and (min-width: 480px){
    
    .navbar{
        padding: 1rem 2.5rem;
    }

}

@media screen and (min-width:668px) {

    .navbar{
        font-size: 1.25rem;
    }

    .navbar__menu{
        position: static;
        width: auto;
        padding: 0;
        height: auto;
        
    }

    .navbar__menu, .navbar__menu > ul{
        flex-direction: row;
        align-items: center;
    }

    .navbar__menu-icon,
    .navbar--h-icon{
        display: none;
    }
    
}